@charset "utf-8";
/* CSS Document */

.slider_shadow	{ background:url(gfx/slider_shadow_4.png) no-repeat bottom center; padding-bottom:83px;}
#slider_paralel {width:960px; height:360px; overflow:hidden; position:relative; margin:0 0 0 15px;  }
#slider_paralel .paralel_item {height:360px; position:absolute; cursor:pointer; background:#000; overflow:hidden;}
#slider_paralel h4	{color:#FFF; font-size:16px;}
#slider_paralel .paralel_s	{ position:absolute; bottom:0px; left:0; background-color:black; padding:18px 20px 21px 20px;}
#slider_paralel .paralel_b	{position:absolute; bottom:0px; left:0; background-color:black; padding:0 20px 17px 20px;}
#slider_paralel .paralel_b_title	{ padding-bottom:0; padding:17px 0 0 0; font-size:19px;}
#slider_paralel .paralel_b_desc	{ color:#CCC;}
#slider_paralel .slide_shadow	{ background:url(gfx/slide_shadow.png) repeat-y right top; position:absolute; display:block; width:50px; height:360px; top:0; right:0;}